* {
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

body {
    margin: 16px;
    font-size: 100%;
    font-family: 'Shantell Sans', cursive;
    color: white;
    height: 100%;
    background: linear-gradient(to bottom, rgb(187, 141, 184) 0%, rgb(95, 94, 145) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/* location-and-date */
.location-and-date {
    width: 100%;
}

.location-and-date_location {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

/* current-temperature */
.current-temperature {
    display: flex;
    margin-top: 0.25em;
    width: 100%;
}

.current-temperature_icon-container {
    flex-grow: 1.25;
    text-align: center;
}

.current-temperature_content-container {
    flex-grow: 1;
    text-align: center;
}

.current-temperature_icon {
    width: 10.5em;
}

.current-temperature_value {
    font-size: 5.25em;
    font-weight: 300;
}

.current-temperature_description {
    margin-top: -0.5em;
    margin-left: -0.6em;
    font-size: 1.125em;
}

/* current-stats */
.current-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.current-stats_value {
    margin-top: 1em;
    font-size: 1.44em;
}

.current-stats_label {
    color: rgba(255, 255, 255, 0.6);
}

.weather-next-5-days {
    width: 100%;
}

/* next-5-days */
.weather-next-5-days {
    width: 100%;
    margin-top: 1em;
}

.next-5-days_container {
    display: flex;
    flex-wrap: wrap;
}

.next-5-days_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.3em;
    padding: 0.8em 0;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.20);
    font-size: 1.19em;
    text-align: center;
}

.next-5-days_label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.83em;
}

.next-5-days_date,
.next-5-days_high,
.next-5-days_low,
.next-5-days_icon,
.next-5-days_rain,
.next-5-days_wind {
    width: 33.33333%;
    font-size: 0.95em;
}

.next-5-days_date,
.next-5-days_high,
.next-5-days_low {
    margin-bottom: 0.6em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .next-5-days_date,
    .next-5-days_high,
    .next-5-days_low,
    .next-5-days_icon,
    .next-5-days_rain,
    .next-5-days_wind {
        width: 16.666666%;
        margin-bottom: initial;
    }

    .next-5-days_date {
        order: -2;
    }

    .next-5-days_icon {
        order: -1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .current-temperature,
    .current-stats {
        width: 50%;
    }

    .current-stats {
        margin-bottom: 1em;
        padding-bottom: 0;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 980px;
        margin: 16px auto;
        font-size: 1.1em;
    }
}